<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <%= link_to "MinekoSan", root_path, class: "text-white" %>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white" href="#">Portfolio</a>
      <a class="p-2 text-white" href="#">Shop</a>
      <%= link_to "FAQ", faq_path, class: "p-2 text-white" %>
    </nav>
    <%= link_to "Contact", contacts_path, class: "btn btn-outline-primary" %>
  </div>
</header>
