<header>
  <nav class="navbar bg-dark">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">
        <strong class="name">Minekosan</strong>
      </a>
    </div>
  </nav>
</header>
