<div class="container">
  <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate ducimus est eum nobis? Ab amet aperiam, atque eveniet, ex expedita in libero magni modi officia perspiciatis quae tempore tenetur?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis dicta doloremque ducimus facilis nemo officia rerum similique suscipit ullam? Excepturi fugiat nihil perspiciatis qui quisquam reiciendis sunt tempora tenetur?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi, blanditiis cum deserunt ea ex saepe voluptates. Amet est et ipsa laudantium nam nesciunt odit praesentium, quas quidem similique, veniam?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate ducimus est eum nobis? Ab amet aperiam, atque eveniet, ex expedita in libero magni modi officia perspiciatis quae tempore tenetur?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis dicta doloremque ducimus facilis nemo officia rerum similique suscipit ullam? Excepturi fugiat nihil perspiciatis qui quisquam reiciendis sunt tempora tenetur?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi, blanditiis cum deserunt ea ex saepe voluptates. Amet est et ipsa laudantium nam nesciunt odit praesentium, quas quidem similique, veniam?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate ducimus est eum nobis? Ab amet aperiam, atque eveniet, ex expedita in libero magni modi officia perspiciatis quae tempore tenetur?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis dicta doloremque ducimus facilis nemo officia rerum similique suscipit ullam? Excepturi fugiat nihil perspiciatis qui quisquam reiciendis sunt tempora tenetur?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p class="font-weight-bold">toto ?</p>
    </div>
    <div class="p-1 bd-highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi, blanditiis cum deserunt ea ex saepe voluptates. Amet est et ipsa laudantium nam nesciunt odit praesentium, quas quidem similique, veniam?</p>
    </div>
  </div>
</div>
