<div class="container">
  <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
    <div class="p-1 bd-highlight">
      <h2>Toto</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate ducimus est eum nobis? Ab amet aperiam, atque eveniet, ex expedita in libero magni modi officia perspiciatis quae tempore tenetur?</p>
    </div>
  </div>
</div>
