<main role="main">

  <div class="container">
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <%= image_tag 'http://placekitten.com/300/500' %>
      </div>
      <div class="p-2 bd-highlight align-self-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus, est ex illum itaque libero maxime nemo, non officiis possimus quae quia quod repellat rerum soluta ullam vel? Iste, modi.</p>
      </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight align-self-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus, est ex illum itaque libero maxime nemo, non officiis possimus quae quia quod repellat rerum soluta ullam vel? Iste, modi.</p>
      </div>
      <div class="p-2 bd-highlight">
        <%= image_tag 'http://placekitten.com/300/500' %>
      </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight align-self-center text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus, est ex illum itaque libero maxime nemo, non officiis possimus quae quia quod repellat rerum soluta ullam vel? Iste, modi.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center">
        <%= image_tag 'http://placekitten.com/1000/300', style: 'align-center' %>
    </div>
  </div>
</main>
